.bg-grad-sidebar {
	background-image: linear-gradient(0deg,#196152,#359380);
}
.bg-black {
	background-color: #196152;
	background-image: url('../custom/img/bg.png');
}
.bg-white {
	background-color: #196152;
}
.dropdown .text-90, .bg-white > .text-90, .modal .text-90, .modal .text-80, .dropdown-menu .list-reset span {
	color: #FFF;
}
.dropdown .text-90:hover {
    color: #000;
}
.max-h-search div ul li a.bg-white {
    background-color: #FFF;
}

#notifHeaderContainer {
	
}
#notifHeaderImg {
    cursor: pointer;
}
#notifHeaderBody {
    display: none;
}
#notifHeaderBody ul li a {
	color: #FFF;
    cursor: pointer;
}
#notifHeaderBody ul li a:hover {
    color: #000;
}

/* eof */