<template>
    <card class="flex flex-col">
        <div class="px-3 py-3">
            <h1 class="text-xl font-light">Import Foto Santri</h1>
            <form @submit.prevent="processImport" ref="form">
                <div class="py-4">
                    <span class="form-file mr-4">
                        <input
                            ref="fileField"
                            class="form-file-input"
                            type="file"
                            id="import-file-sip"
                            name="name"
                            @change="fileChange"
                        />
                        <label for="import-file-sip" class="form-file-btn btn btn-default btn-primary">
                            {{__('Choose File')}}
                        </label>
                    </span>
                    <span class="text-gray-50">
                        {{ currentLabel }}
                    </span>

                </div>

                <div class="flex">
                    <div v-if="errors">
                        <p class="text-danger">{{firstError}}</p>
                    </div>
                    <button
                        :disabled="working"
                        type="submit"
                        class="btn btn-default btn-primary ml-auto"
                    >
                        <loader v-if="working" width="30"></loader>
                        <span v-else>{{__('Import')}}</span>
                    </button>
                </div>
            </form>
        </div>
    </card>
</template>

<script>
export default {
    props: [
        'card',

        // The following props are only available on resource detail cards...
        // 'resource',
        // 'resourceId',
        // 'resourceName',
    ],

    data() {
        return {
            fileNameSip: '',
            file: null,
            label: 'no file selected',
            working: false,
            errors: null,
        };
    },

    mounted() {
        //
    },

    methods: {
        fileChange(event) {
            let path = event.target.value;
            let fileNameSip = path.match(/[^\\/]*$/)[0];
            this.fileNameSip = fileNameSip;
            this.file = this.$refs.fileField.files[0];
        },
        processImport() {
            if (!this.file) {
                return;
            }
            this.working = true;
            let formData = new FormData();
            formData.append('file', this.file);
            Nova.request()
                .post(
                    '/nova-vendor/santri_import_photo/endpoint',
                    formData
                )
                .then(({ data }) => {
                    this.$toasted.success(data.message);
                    this.$parent.$parent.$parent.$parent.getResources();
                    this.errors = null;
                })
                .catch(({ response }) => {
                    this.errors = response.data.errors;
                })
                .finally(() => {
                    this.working = false;
                    this.file = null;
                    this.fileNameSip = '';
                    this.$refs.form.reset();
                });
        },
    },

    computed: {
        /**
         * The current label of the file field
         */
        currentLabel() {
            return this.fileNameSip || this.label;
        },

        firstError() {
            return this.errors ? this.errors[Object.keys(this.errors)[0]][0] : null;
        },
    },
}
</script>
