<template>
    <div  ref="filemanager-container">
        <heading class="mb-6">{{ __('QR Code Santri') }}</heading>

        <div class="card relative" id="filemanager-manager">

            <div class="p-3 flex items-center justify-between border-b border-50" v-for="row in santris.data">
                <div class="w-full flex flex-wrap">
                    <div class="w-2/3 flex flex-wrap justify-start">
                            {{ __(row.name) }}<br/>
                            {{ __(row.nisn) }}<br/><br/>
                            MVA :{{ (row.no_virtual_account) }}<br/>
                            {{ __(row.pondok.name) }}
                    </div>
                    <div class="w-1/3 flex flex-wrap justify-start">
                            <a :href="'/card-santri/'+ row.id" target="_blank"><img :src="'/card-qr/' + row.id"/></a>
                            <div>
                            <a class="cursor-pointer dim btn btn-link text-primary inline-flex items-center" :href="'/card-santri/'+ row.id +'?download=1'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" aria-labelledby="download" role="presentation" class="fill-current mr-2"><path d="M11 14.59V3a1 1 0 0 1 2 0v11.59l3.3-3.3a1 1 0 0 1 1.4 1.42l-5 5a1 1 0 0 1-1.4 0l-5-5a1 1 0 0 1 1.4-1.42l3.3 3.3zM3 17a1 1 0 0 1 2 0v3h14v-3a1 1 0 0 1 2 0v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-3z" class="heroicon-ui"></path></svg> 
                                <span class="class mt-1">
                                Download
                                </span>
                            </a>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import URI from 'urijs';
import api from '../api';


export default {
    components: {
    },

    data: () => ({
        santris: {},
    }),

    async created() {
        await this.getData();
    },

    mounted() {
    },

    methods: {
        getData() {
            return api.getData().then(result => {
                if ( result.status == 1 ) {
                    this.santris = result;
                }
                else {
                    this.$toasted.show(this.__('1. Error opening configuration. Check your permissions'), {
                        type: 'error',
                    });                    
                }
            })
            .catch(() => {
                this.$toasted.show(this.__('2. Error opening configuration. Check your permissions'), {
                    type: 'error',
                });
            });
        },
    },

    computed: {

    },
};
</script>

<style scoped lang="scss">

</style>
